@charset "UTF-8";
/*цвета
основной текст - #212121
второстепенный текст - #757575
акцент - #2196F3
текст героя - #ffffff
*/
.menu-button.is-open .icon-menu {
  display: none;
}

.menu-toggle {
  background-color: transparent;
  border: 0;
  margin-left: auto;
}

@media screen and (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:focus, .menu-toggle:hover {
  fill: #2196f3;
}

.menu-toggle--close {
  position: absolute;
  top: 21px;
  right: 25px;
}

.hero-section__button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  color: #ffffff;
  background-color: #2196f3;
}

@media screen and (min-width: 480px) {
  .hero-section__button {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
  }
}

.form-submit-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px 10px 56px;
  border: 0px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-btn:hover, .close-btn:focus {
  fill: #2196f3;
}

/* PORTFOLIO BTNS */
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  color: #212121;
  background: #f5f4fa;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.button--current {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-item {
  margin-left: 8px;
}

.btn-item:first-child {
  margin-left: 0;
}

.follow-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
  border-color: #2196f3;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.follow-btn__icon {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .footer-form-div {
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-right: 12px;
  }
}

.footer-form__label {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form__input {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  outline: none;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
}

.form__title {
  margin-bottom: 12px;
  width: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__field:last-child {
  margin-bottom: 0;
}

.form__label {
  margin-bottom: 4px;
  margin-left: 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__wrapper {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 9px;
  display: block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form__input {
  width: 100%;
  padding-left: 35px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.form__input:focus {
  border: 1px solid #2196f3;
}

.form__comment {
  padding: 12px 16px;
  height: 120px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}

.form__comment:focus {
  border: 1px solid #2196f3;
}

.form__field textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__input:focus ~ .form__icon {
  fill: #2196f3;
}

.policy {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.policy__label {
  position: relative;
  padding-left: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.policy__checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy__icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid #212121;
  cursor: pointer;
}

.policy__link {
  color: #2196f3;
}

.policy__checkbox:checked + .policy__icon {
  background-color: #2196f3;
  border: 0;
}

/* Убирает точки у списков */
body {
  color: #212121;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

/* Conatainer for all sections */
.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 700px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

.container--main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .container--footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  background-color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 3;
}

.menu-nav {
  padding: 33px 0 0 25px;
}

.menu-nav__item {
  margin-bottom: 32px;
}

.menu-nav__link {
  letter-spacing: 2%;
  font-size: 40px;
  line-height: 1.18;
  font-weight: 500;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav__link:hover, .menu-nav__link:focus {
  color: #2196f3;
  outline: none;
}

.menu-nav__link--current {
  color: #2196f3;
}

.menu-contacts {
  padding-left: 25px;
  margin-top: auto;
  margin-bottom: 64px;
}

@media screen and (max-width: 767px) {
  .menu-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu-contacts__link {
  font-weight: 500;
  letter-spacing: 2%;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts__link:hover, .menu-contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
  outline: none;
}

.menu-contacts__link--phone {
  color: #2196f3;
  text-decoration: none;
  font-size: 34px;
  line-height: 1.18;
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
}

.menu-social__item {
  margin-left: 20px;
}

.menu-social__item:first-child {
  margin-left: 0;
}

.menu-social__link {
  text-decoration: none;
  position: relative;
  color: #2196f3;
  letter-spacing: 0.02em;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
}

.menu-social__link::after {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.menu-social__link:first-child ::after {
  display: none;
}

/* header */
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item {
    margin-right: 50px;
  }
  .site-nav__item:last-child {
    margin-right: 0;
  }
}

.site-nav__link {
  position: relative;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
  outline: none;
}

.site-nav__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  display: block;
  border-radius: 2px;
  opacity: 0;
  left: 0;
  top: 46px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .site-nav__link::after {
    top: 50px;
  }
}

.site-nav__link:focus::after, .site-nav__link:hover::after, .site-nav__link.site-nav__link--current::after {
  opacity: 1;
}

/* HEADER contacts */
.header-contacts {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:nth-child(2) {
    margin-left: 50px;
  }
}

.header-contacts__icon {
  margin-right: 8px;
}

.header-contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: #757575;
  fill: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
  outline: none;
}

/* hero section */
.hero-section {
  padding: 60px 0;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding: 200px 0;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding: 128px 0;
  }
}

@media screen and (min-device-pixal-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolutino: 2dppx) {
  .hero-section .hero-section {
    background-image: url(../../images/hero-overlayx2.jpg);
  }
}

@media screen and (min-device-pixal-ratio: 1), screen and (-webkit-min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolutino: 1dppx) {
  .hero-section .hero-section {
    background-image: url(../../images/hero-overlay.jpg);
  }
}

.hero-section__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  line-height: 1.36;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 480px) {
  .hero-section__title {
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}

@media screen and (max-width: 479px) {
  .hero-section__title {
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    letter-spacing: 0.06em;
  }
}

/* strengths */
.strenghts.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

@media screen and (min-width: 480px) {
  .strenghts-section {
    padding: 60px 0;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .strenghts-section {
    padding: 60px 0;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .strenghts-section {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .strenghts-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.strenghts-section__item {
  margin-bottom: 30px;
}

.strenghts-section__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .strenghts-section__item {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .strenghts-section__item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.strenghts-section__thumb {
  border-radius: 4px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .strenghts-section__thumb {
    padding: 25px 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 479px) {
  .strenghts-section__thumb {
    padding: 25px 0;
    margin-bottom: 30px;
  }
}

.strenghts-section__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .strenghts-section__title {
    text-align: left;
  }
}

.strenghts-section__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .strenghts-section__text {
    text-align: left;
  }
}

.strenghts-section__icon {
  width: 70px;
  height: 70px;
}

/* services section */
.services-section {
  padding: 94px 0;
}

.services-section__description {
  position: absolute;
  right: 82px;
  left: 83px;
  bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.services-section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.services-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services-section__item {
  position: relative;
}

.services-section__item::before {
  display: inline-block;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  content: '';
  width: 100%;
  height: 70px;
  bottom: 0;
}

.services-section__img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1199px) {
  .services-section {
    display: none;
  }
}

/* section Team */
.team-section {
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .team-section {
    padding: 60px 0;
  }
}

@media screen and (max-width: 479px) {
  .team-section {
    padding: 60px 0;
  }
}

.team-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .team-section__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 479px) {
  .team-section__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) {
  .team-section__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team-section__card {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-section__card {
    margin-bottom: 30px;
  }
  .team-section__card:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .team-section__card {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section__card {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.member {
  text-align: center;
  padding-top: 30px;
}

@media screen and (min-width: 480px) {
  .member {
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 479px) {
  .member {
    padding-bottom: 24px;
  }
}

.member__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.member__position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social__icon {
  width: 20px;
  height: 20px;
}

.social__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:last-child {
  margin-right: 0px;
}

.social__link:focus, .social__link:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

/* loyal customers */
@media (min-width: 480px) {
  .customers {
    padding: 60px 0;
  }
}

@media screen and (max-width: 479px) {
  .customers {
    padding: 60px 0;
  }
}

.customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media (min-width: 480px) {
  .customers__title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .customers__title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 479px) {
  .customers__title {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) {
  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.customers__item {
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .customers__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (max-width: 479px) {
  .customers__item {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .customers__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .customers__item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customers__item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.customers__link {
  display: block;
  border-radius: 4px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:focus, .customers__link:hover {
  fill: #2196f3;
  color: #2196f3;
  border-color: #2196f3;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}

/* footer */
.footer {
  padding: 60px 0;
  background-color: #2f303a;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: initial;
  }
}

.address {
  margin-top: 20px;
}

@media screen and (max-width: 1199px) {
  .address {
    margin-bottom: 60px;
  }
}

.address__item {
  margin-bottom: 8px;
}

.address__item:last-child {
  margin-bottom: 0px;
}

.address__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:focus, .address__link:hover {
  color: #2196f3;
}

.address__link--specific {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

.footer-social__title {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social--footer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon--footer {
  fill: #ffffff;
}

/* PORTFOLIO WORKS */
.works-section {
  padding: 94px 0;
}

@media screen and (max-width: 1200px) {
  .works-section {
    padding: 60px 0;
  }
}

.works {
  margin: -30px;
}

@media screen and (max-width: 1200px) {
  .works {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.works__examples {
  border: 1px solid #eeeeee;
}

@media screen and (max-width: 767px) {
  .works__examples {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .works__examples {
    margin: 30px;
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
    width: calc((100% - 4 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .works__examples {
    width: calc((100% - 6 * 30px) / 3);
  }
}

.works__link {
  text-decoration: none;
  display: block;
}

.works__link:hover, .works__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__image {
  overflow: hidden;
  position: relative;
}

.works__overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 49px 24px;
  -webkit-transform: translateY(101%);
  transform: translateY(101%);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .works__overlay {
    padding: 49px 24px;
  }
}

@media screen and (max-width: 767px) {
  .works__overlay {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .works__overlay {
    padding: 63px 24px;
  }
}

.works__text {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works__wrapper {
  padding: 20px 24px;
}

.works__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.works__description {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.works__link:hover .works__overlay,
.works__link:focus .works__overlay {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 50px 55px;
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
  }
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 159px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 41px;
  padding-right: 39px;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 528px;
  height: 581px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .modal {
    position: relative;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

/* style of logo */
.logo {
  color: #212121;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__accent {
  color: #2196f3;
}

.logo--white {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}
/*# sourceMappingURL=main.css.map */