/* loyal customers */

.customers {
  // padding: 94px 0;
  @media (min-width: 480px) {
    padding: 60px 0;
  }
  @media screen and(max-width: 479px) {
    padding: 60px 0;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    // margin-bottom: 50px;
    @media (min-width: 480px) {
      margin-bottom: 30px;
    }
    @media screen and(min-width: 480px) {
      margin-bottom: 30px;
    }
    @media screen and(max-width: 479px) {
      margin-bottom: 20px;
    }
  }

  &__list {
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    // -webkit-box-pack: justify;
    // -ms-flex-pack: justify;
    // justify-content: space-between;

    @media screen and (min-width: 480px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
    @media screen and (max-width: 479px) {
    }
  }
  &__item {
    width: 100%;
    // display: block;
    text-align: center;
    align-items: center;
    @media screen and (min-width: 480px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
    @media screen and(max-width: 479px) {
      max-width: 60%;

      margin-left: auto;
      margin-right: auto;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    @media screen and(min-width: 768px) {
      width: calc((100% - 6 * 15px) / 3);
    }
    @media screen and(min-width: 1200px) {
      width: calc((100% - 12 * 15px) / 6);
    }
  }

  &__link {
    display: block;
    border-radius: 4px;
    // width: 170px;
    // height: 92px;
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // justify-content: center;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    align-items: center;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    -webkit-transition: background-color 250ms $timing-function, fill 250ms $timing-function;
    transition: background-color 250ms $timing-function, fill 250ms $timing-function;

    &:focus,
    &:hover {
      fill: $accent-text-color;
      color: $accent-text-color;
      border-color: $accent-text-color;
      outline: none;
    }
    @media screen and (min-width: 480px) {
      // display: block;
    }
  }
}
