/* footer */

.footer {
  padding: 60px 0;
  background-color: $background-color-secondary;
  text-align: center;
  @media screen and(min-width: 1200px) {
    text-align: initial;
  }
}

// ADDRESS
.address {
  margin-top: 20px;

  &__item {
    &:not(last-child) {
      margin-bottom: 8px;
    }
    &:last-child {
      margin-bottom: 60px;
    }
  }

  &__link {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: $secondary-text-colort;
    -webkit-transition: color 250ms $timing-function;
    transition: color 250ms $timing-function;

    &:focus,
    &:hover {
      color: $accent-text-color;
    }
    &--specific {
      color: $background-color;
    }
  }
}

.footer-social {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }

  &__title {
    color: $background-color;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.social--footer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon--footer {
  fill: $background-color;
}
