/* header */
.header {
  background-color: $background-color;
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
}

/* site navigation */
.container--main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item {
  &:last-child {
    margin-right: 0;
  }
}
.site-nav__link {
  position: relative;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
  color: $primary-text-color;
  -webkit-transition: color 250ms $timing-function;
  transition: color 250ms $timing-function;
}

.site-nav__link {
  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}
.site-nav__link:hover::after,
.site-nav__link--current::after {
  opacity: 1;
}

.site-nav__link--current {
  color: $accent-text-color;
}

.site-nav__link {
  &::after {
    left: 0;
    top: 45px;
  }
}
.site-nav__link--current::after,
.site-nav__link:hover::after,
.site-nav__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: $accent-text-color;
  display: block;
  border-radius: 2px;
}

.site-nav__link {
  &::after {
    opacity: 0;
    -webkit-transition: background-color 250ms $timing-function, opacity 250ms $timing-function;
    transition: background-color 250ms $timing-function, opacity 250ms $timing-function;
  }
}
/* HEADER contacts */
.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-contacts__item {
  &:nth-child(2) {
    margin-left: 50px;
  }
}
// .site-contacts .item + .item {
//   margin-left: 50px;
// }

.header-contacts__icon {
  margin-right: 10px;
}

.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: $secondary-text-colort;
  fill: $secondary-text-colort;
  -webkit-transition: color 250ms $timing-function, fill 250ms $timing-function;
  transition: color 250ms $timing-function, fill 250ms $timing-function;
}

.header-contacts__link {
  &:hover,
  &:focus {
    color: $accent-text-color;
    fill: $accent-text-color;
  }
}
