/* header */
.header {
  background-color: $background-color;
  border-bottom: 1px solid #ececec;
  // padding: 25px 0;
}

.site-nav {
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }

  &__item {
    // margin-right: 50px;

    &:last-child {
      // margin-right: 0;
    }
  }

  &__link {
    // position: relative;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    text-decoration: none;
    color: $primary-text-color;
    -webkit-transition: color 250ms $timing-function;
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-text-color;
      outline: none;
    }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   width: 100%;
    //   height: 4px;
    //   background-color: $accent-text-color;
    //   display: block;
    //   border-radius: 2px;
    //   opacity: 0;
    //   left: 0;
    //   top: 45px;
    //   -webkit-transition: background-color 250ms $timing-function, opacity 250ms $timing-function;
    //   transition: background-color 250ms $timing-function, opacity 250ms $timing-function;
    // }
  }
}

// .site-nav__link {
//   &:focus::after,
//   &:hover::after,
//   &.site-nav__link--current::after {
//     opacity: 1;
//   }
// }

/* HEADER contacts */

.header-contacts {
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  // margin-left: auto;
  @media screen and (max-width: 767px) {
    display: none;
  }

  &__item {
    &:nth-child(2) {
      // margin-left: 50px;
    }
  }

  &__icon {
    // margin-right: 10px;
  }
  &__link {
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    // text-align: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // align-items: center;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: $secondary-text-colort;
    fill: $secondary-text-colort;
    -webkit-transition: color 250ms $timing-function, fill 250ms $timing-function;
    transition: color 250ms $timing-function, fill 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-text-color;
      fill: $accent-text-color;
      outline: none;
    }
  }
}
