/* hero section */
.hero-section {
  padding: 60px 0;
  text-align: center;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../images/hero-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-mobile.jpg);
  // max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $background-color-secondary;

  &__title {
    // margin-top: 0;
    // margin-bottom: 30px;
    color: $background-color;
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    @media screen and (min-width: 480px) {
      margin-bottom: 30px;
      font-size: 26px;
      line-height: 1.62;
      letter-spacing: 6%;
      text-align: center;
    }
    @media screen and (max-width: 479px) {
      margin-bottom: 30px;
      font-size: 26px;
      line-height: 1.62;
      letter-spacing: 6%;
      text-align: center;
    }
  }
}
// @media screen and (min-device-pixal-ratio: 2),
//   screen and (min-resolution: 192dpi),
//   screen and (min-resolutino: 2dppx) {
//   .hero-section {
//     background-image: url(../../images/hero-overlayx2.jpg);
//   }
// }

// @media screen and (min-device-pixal-ratio: 1),
//   screen and (min-resolution: 96dpi),
//   screen and (min-resolutino: 1dppx) {
//   .hero-section {
//     background-image: url(../../images/hero-overlay.jpg);
//   }
// }
