/* strengths */
.strenghts {
  // margin-top: 0;

  &.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
  }
}

.strenghts-section {
  // padding-top: 94px;
  // padding-bottom: 0px;
  @media screen and (min-width: 480px) {
    padding: 60px 0;
    text-align: center;
  }
  @media screen and (max-width: 479px) {
    padding: 60px 0;
    text-align: center;
  }

  &__list {
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    // -webkit-box-pack: justify;
    // -ms-flex-pack: justify;
    // justify-content: space-between;
  }

  &__item {
    // margin-left: 30px;
    // max-width: 270px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      // margin-left: 0;
    }
  }
  &__thumb {
    // padding-top: 25px;
    // padding-bottom: 25px;
    // text-align: center;
    border-radius: 4px;
    // margin-bottom: 30px;
    background-color: $background-color-tertiary;
    @media screen and (min-width: 480px) {
      padding: 25px 0;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 479px) {
      padding: 25px 0;
      margin-bottom: 30px;
    }
  }
  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-text-color;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-colort;

    @media screen and (min-width: 480px) {
      font-size: 14px;
      line-height: 1.7;
    }
    @media screen and (max-width: 479px) {
      font-size: 14px;
      line-height: 1.7;
    }
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
}
