/* style of logo */
.logo {
  color: $primary-text-color;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  &__accent {
    color: $accent-text-color;
  }
  &--white {
    color: $background-color;
  }

  @media screen and(min-width: 1200px) {
    margin-right: 93px;
  }
}
