/* Убирает точки у списков */
body {
  color: $primary-text-color;
  background-color: $background-color;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

/* Conatainer for all sections */
.container {
  // width: 1200px;
  padding: 0 15px;
  // margin-left: auto;
  // margin-right: auto;
  // outline: 1px solid sandybrown;

  margin: 0 auto;

  @media screen and (min-width: 480px) {
    max-width: 560px;
  }
  @media screen and (min-width: 768px) {
    max-width: 1000px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 1200px;
  }
  &--main-nav {
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // align-items: center;
    display: flex;
    align-items: center;
  }

  &--footer {
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    // -webkit-box-align: baseline;
    // -ms-flex-align: baseline;
    // align-items: baseline;
  }
}
